*.pyc
*~
*.mo
*\#
.*.swp
.coverage
aqt/forms
locale
tools/runanki.system
/anki/ankiweb.certs
/tests/test_sched.py
aqt/buildhash.py
/__main__.py
anki/buildhash.py
.mypy_cache
.pytype
.build
*autosave
tests/support/TEST/backups
tests/supportCopy
/tests/support/crash.log
/tests/support/TEST/deleted.txt
/tests/support/TEST/collection.log
/tests/notGUI
